body {

	* {
		font-family: 'Lato', sans-serif;
		margin: 0;
		padding: 0;
		color: #10b5b8;
	}

	header {
		text-align: center;
		box-shadow: 0 1px 1px #e0e0e0;
		font-size: 1.4em;
		padding: 15px;
		width: 100%;
	}

	section#log-in-form {
		box-shadow: 0 1px 1px #e0e0e0;
		padding: 35px;
		width: 100%;
		text-align: center;
		input {
			margin: 35px auto;
			width: 220px;
			font-size: 1.4em;
			padding: 10px 20px 10px 20px;
			display: block;
		}
		div#log-in {
			cursor: pointer;
			width: 100px;
			padding: 20px;
			font-size: 1.2em;
			margin: 20px auto;
			border: 1px solid #e0e0e0;
			margin-bottom: 10px;
			display: block;
		}
	}

	footer {
		box-shadow: 0 1px 1px #e0e0e0;
		padding: 15px;
		width: 100%;
		p {	
			text-align: center;		
			font-size: 1.4em;
		}
	}

}