<div id="quest-listings">	
	<header id="quest-listings-header">
		<h1>Questalot Admin</h1>
		<!-- Config filtering, and other options... -->
		<nav></nav>				
	</header>
	<section id="quest-listings-container">
		<!-- Add the Quest Collection Models here... -->
	</section>
	<footer id="quest-listings-footer">
		<!-- Additional Info/Options... -->
	</footer>
</div>