<header id="admin-header">
	<h1>Gamemaster</h1>
</header>
<section id="log-in-form">
	<h1 id="logo">Questalot Admin Log In:</h1>
	<form>
		<input id="log-in-username" type="text" placeholder="Username">
		<input id="log-in-password" type="password" placeholder="Password">
		<div id="log-in">Log In</div>
	</form>
</section>
<footer id="admin-footer">
	<p>Gamemaster | 2014</p>
</footer>