<section class="container">
	<h1 id="logo">Questalot Admin Log In:</h1>
	<section id="login-form-area">
		<form>
			<input id="log-in-username" type="text" placeholder="Username">
			<input id="log-in-password" type="password" placeholder="Password">
			<div id="log-in" class="log-in">Log In</div>
		</form>
	</section>
</section>