<section class="container">
	<h1 id="logo">Gamemaster Admin Log In</h1>
	<section id="login-form-area">
		<form>
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<input class="log-in" type="submit" value="Log In">
		</form>
	</section>
	<!--<input id="number" type="text" value="{{number}}" readonly="false"/>
	<button id="inc">Inc</button>-->
</section>