<section class="container">
	<h1 id="logo">Questalot Admin Log In:</h1>
	<section id="login-form-area">
		<form>
			<input id="log-in-username" type="text" placeholder="Username">
			<input id="log-in-password" type="password" placeholder="Password">
			<input id="log-in" class="log-in" type="submit" value="Log In">
		</form>
	</section>
	<!--<input id="number" type="text" value="{{number}}" readonly="false"/>
	<button id="inc">Inc</button>-->
</section>