<section class="container">
	<h1 id="logo">Gamemaster</h1>
	<section id="login-form-area">
		<form>
			<input type="text">
			<input type="text">
		</form>
	</section>
	<!--<input id="number" type="text" value="{{number}}" readonly="false"/>
	<button id="inc">Inc</button>-->
</section>